
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model IEnumerable<RideAlongMVC.Models.Share>


<h2>Index</h2>

<body>
    <div>

    </div>


    @if (Model.Count() != 0)
    {
        bool floater = true;
        foreach (var share in Model)
        {
            if (floater)
            {
                <table class="table table-striped" float="left" style="width:40%">
                    <thead>
                        <tr>
                            <td>Departure</td>
                            <td>Destination</td>
                        </tr>
                    </thead>
                    <tr>
                        <td>@share.DepartureCity</td>
                        <td>@share.DestinationCity</td>
                    </tr>
                    <tr>
                        <td>@share.Seats</td>
                        <td>@share.DepartureDate</td>
                    </tr>
                    <tr>
                        <td colspan="2" align="center">
                            <a href="http://localhost:4200/api/shares" class="btn btn-default">Check Out this Ride</a>
                        </td>
                        @*<td colspan="2">@Html.ActionLink("Check out this ride", "Move to Angular")</td>*@
                    </tr>
                </table>
                floater = false;
            }
            else
            {
                <table class="table table-striped" float="right" style=" width:40%">
                    <thead>
                        <tr>
                            <td>Departure</td>
                            <td>Destination</td>
                        </tr>
                    </thead>
                    <tr>
                        <td>@share.DepartureCity</td>
                        <td>@share.DestinationCity</td>
                    </tr>
                    <tr>
                        <td>@share.Seats</td>
                        <td>@share.DepartureDate</td>
                    </tr>
                    <tr>
                        <td colspan="2" align="center">
                            <a href="http://localhost:4200/api/shares" class="btn btn-default">Check Out this Ride</a>
                        </td>
                        @*<td colspan="2">@Html.ActionLink("Check out this ride", "Move to Angular")</td>*@
                    </tr>
                </table>
                floater = true;
            }
        }
    }
</body>

